@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* footer nav */
.footer-nav {
    background-color: darkseagreen; 
    padding: 30px;
    margin-top: 20px;
    min-width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  